:root {
  --primary: #131921;
  --primary-l: #232f3e;
  --primary-xl: #37475a;

  --bg: #eaeded;

  --clr-amazon-yellow: #ff9900;
  --clr-amazon-yellow-xl: #febd69;
  --clr-amazon-yellow-l: #f3a847;

  --black: #000000;
  --white: #ffffff;
  --gray: #f3f3f3;
  --gray-dark: #868686;
  --white-xl: #ffffff55;
  --white-l: #ffffffb4;

  --xs: 0.75rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.125rem;
  --xl: 1.25rem;

  --fw-Light: 300;
  --fw-Regular: 400;
  --fw-Medium: 500;
  --fw-Bold: 700;

  --btn-border-radius: 3px;

  --hover-border: solid var(--white) 1px;

  --focus-amazon: auto var(--clr-amazon-yellow);
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.App > header {
}

header {
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: auto 6fr auto;
  padding: 5px 10px;
  align-items: center;
  /* height: 60px; */
  gap: 5px;
  background-color: var(--primary);
}

nav {
  display: flex;
  height: 40px;
  padding: 0px 10px;
  gap: 50px;
  grid-column: 1 / -1;
  background-color: var(--primary-l);
}

section {
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
}
